/* Product Card Styles */
.product-card {
    border: 6px solid #efeded; /* Make the border lighter */
    padding: 15px;
    text-align: left; /* Align text to the left */
    border-radius: 5px;
    transition: box-shadow 0.3s;
}
.product-card:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* Category Badges */
.badge-category {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    font-size: 0.8em; /* Make the badge text smaller */
}
.badge-unisex { background-color: #000; }
.badge-male { background-color: #000; }
.badge-female { background-color: #000; }

/* Product Price Styling */
.product-price {
    font-size: 1em; /* Smaller font size */
    color: #000;
    font-weight: bold;
    padding-bottom: 10px; /* Adjust the value as needed */

}
.spaced-link {
    margin-top: 10px; /* Adjust the value to control the space */
    display: inline-block;
}


/* Rating Styling */
.small-text {
    font-size: 0.5em; /* Adjust this value to control the size */
}


/* Sold Out Label */
.sold-out {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(58, 58, 58, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 0.8em; /* Smaller font size */
}

/* discount Label */
.discount {
    position: absolute;
    bottom: 45px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 0.8em; /* Smaller font size */
}
/* bag-icon Label */
.bi-bag {
    position: absolute;
    bottom: 18px;
    right: 10px;
    /* background-color: red; */
    /* width: 30px; /* Adjust the size to match your layout */
}

/* Product Title Styling */
.product-card h5 {
    font-size: 0.95em; /* Smaller font size */
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

/* Link Styling */
.product-card a {
    font-size: 0.85em; /* Smaller font size */
    color: #777;
}
.price-label {
    color: #888888; /* Change to desired color for 'From' */
    font-size: 0.9em;
}

/* Style for the 'R 219.00' text */
.price-amount {
    color: #01070d; /* Change to desired color for price */
    font-weight: bold;
    font-size: 1.1em;
}

/* Divider styling */
.divider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1050px; /* Adjust the width if needed */
}

.divider-text {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 20px;
    white-space: nowrap;
}

.left-line,
.right-line {
    flex: 5;
    border: none;
    border-top: 3px solid black;
    margin: 8 15px;
}

/* View All link styling */
.view-all-link {
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    position: relative;
}

.view-all-link::after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: black;
    margin: 5px auto 0;
}
/* View Section Styling */
.view-section {
    position: relative;
    overflow: hidden;
}

.view-section img {
    width: 100%;
    height: 500px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fills the container without distortion */
    border-radius: 5px;
}

.view-link {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    position: relative;
}

.view-link::after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: black;
    margin: 5px auto 0;
}

/* Original price styling */
.original-price {
    color: black;
    text-decoration: line-through; /* Adds the strike-through effect */
    margin-right: 10px; /* Adds space between the original and sale price */
}

/* Sale price styling */
.sale-price {
    color: red;
    font-weight: bold;
}